USE [SWD]
GO
ALTER TABLE [dbo].[Ward] DROP CONSTRAINT [FK__Ward__district_i__3C69FB99]
GO
ALTER TABLE [dbo].[User_History] DROP CONSTRAINT [FK__User_Hist__user___60A75C0F]
GO
ALTER TABLE [dbo].[User_History] DROP CONSTRAINT [FK__User_Hist__chang__619B8048]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK__User__role_id__46E78A0C]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK__User__created_by__47DBAE45]
GO
ALTER TABLE [dbo].[System_Log] DROP CONSTRAINT [FK__System_Lo__user___123EB7A3]
GO
ALTER TABLE [dbo].[Refund] DROP CONSTRAINT [FK__Refund__payment___0C85DE4D]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK__Payment__deposit__09A971A2]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK__Payment__booking__08B54D69]
GO
ALTER TABLE [dbo].[Password_Reset] DROP CONSTRAINT [FK__Password___user___6754599E]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [FK__Notificat__user___6FE99F9F]
GO
ALTER TABLE [dbo].[Login_History] DROP CONSTRAINT [FK__Login_His__user___6A30C649]
GO
ALTER TABLE [dbo].[Issuance] DROP CONSTRAINT [FK__Issuance__car_id__5812160E]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK__Invoice__payment__0F624AF8]
GO
ALTER TABLE [dbo].[Identity_Document] DROP CONSTRAINT [FK__Identity___user___6477ECF3]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [FK__Feedback__custom__01142BA1]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [FK__Feedback__bookin__00200768]
GO
ALTER TABLE [dbo].[Driving_License] DROP CONSTRAINT [FK__Driving_L__user___5DCAEF64]
GO
ALTER TABLE [dbo].[District] DROP CONSTRAINT [FK__District__provin__398D8EEE]
GO
ALTER TABLE [dbo].[Deposit] DROP CONSTRAINT [FK__Deposit__staff_i__05D8E0BE]
GO
ALTER TABLE [dbo].[Deposit] DROP CONSTRAINT [FK__Deposit__custome__03F0984C]
GO
ALTER TABLE [dbo].[Deposit] DROP CONSTRAINT [FK__Deposit__booking__04E4BC85]
GO
ALTER TABLE [dbo].[Car_Image] DROP CONSTRAINT [FK__Car_Image__car_i__5AEE82B9]
GO
ALTER TABLE [dbo].[Car_Feature] DROP CONSTRAINT [FK__Car_Featu__featu__5535A963]
GO
ALTER TABLE [dbo].[Car_Feature] DROP CONSTRAINT [FK__Car_Featu__car_i__5441852A]
GO
ALTER TABLE [dbo].[Car] DROP CONSTRAINT [FK__Car__owner_id__4E88ABD4]
GO
ALTER TABLE [dbo].[Car] DROP CONSTRAINT [FK__Car__created_by__4F7CD00D]
GO
ALTER TABLE [dbo].[Car] DROP CONSTRAINT [FK__Car__category_id__5165187F]
GO
ALTER TABLE [dbo].[Car] DROP CONSTRAINT [FK__Car__brand_id__5070F446]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK__Booking__update___778AC167]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK__Booking__promoti__76969D2E]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK__Booking__custome__74AE54BC]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK__Booking__car_id__75A278F5]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK__Booking__address__787EE5A0]
GO
ALTER TABLE [dbo].[Black_List] DROP CONSTRAINT [FK__Black_Lis__user___6D0D32F4]
GO
ALTER TABLE [dbo].[Address] DROP CONSTRAINT [FK__Address__ward_id__4BAC3F29]
GO
ALTER TABLE [dbo].[Address] DROP CONSTRAINT [FK__Address__user_id__4AB81AF0]
GO
ALTER TABLE [dbo].[Accident_History] DROP CONSTRAINT [FK__Accident___repor__7C4F7684]
GO
ALTER TABLE [dbo].[Accident_History] DROP CONSTRAINT [FK__Accident___handl__7D439ABD]
GO
ALTER TABLE [dbo].[Accident_History] DROP CONSTRAINT [FK__Accident___booki__7B5B524B]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ward]') AND type in (N'U'))
DROP TABLE [dbo].[Ward]
GO
/****** Object:  Table [dbo].[User_History]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User_History]') AND type in (N'U'))
DROP TABLE [dbo].[User_History]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[System_Log]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[System_Log]') AND type in (N'U'))
DROP TABLE [dbo].[System_Log]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Refund]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Refund]') AND type in (N'U'))
DROP TABLE [dbo].[Refund]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Province]') AND type in (N'U'))
DROP TABLE [dbo].[Province]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Promotion]') AND type in (N'U'))
DROP TABLE [dbo].[Promotion]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payment]') AND type in (N'U'))
DROP TABLE [dbo].[Payment]
GO
/****** Object:  Table [dbo].[Password_Reset]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Password_Reset]') AND type in (N'U'))
DROP TABLE [dbo].[Password_Reset]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notification]') AND type in (N'U'))
DROP TABLE [dbo].[Notification]
GO
/****** Object:  Table [dbo].[Login_History]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Login_History]') AND type in (N'U'))
DROP TABLE [dbo].[Login_History]
GO
/****** Object:  Table [dbo].[Issuance]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Issuance]') AND type in (N'U'))
DROP TABLE [dbo].[Issuance]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Invoice]') AND type in (N'U'))
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[Identity_Document]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Identity_Document]') AND type in (N'U'))
DROP TABLE [dbo].[Identity_Document]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedback]') AND type in (N'U'))
DROP TABLE [dbo].[Feedback]
GO
/****** Object:  Table [dbo].[Feature_Definition]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feature_Definition]') AND type in (N'U'))
DROP TABLE [dbo].[Feature_Definition]
GO
/****** Object:  Table [dbo].[Driving_License]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Driving_License]') AND type in (N'U'))
DROP TABLE [dbo].[Driving_License]
GO
/****** Object:  Table [dbo].[District]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[District]') AND type in (N'U'))
DROP TABLE [dbo].[District]
GO
/****** Object:  Table [dbo].[Deposit]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Deposit]') AND type in (N'U'))
DROP TABLE [dbo].[Deposit]
GO
/****** Object:  Table [dbo].[CarCategory]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CarCategory]') AND type in (N'U'))
DROP TABLE [dbo].[CarCategory]
GO
/****** Object:  Table [dbo].[Car_Image]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Car_Image]') AND type in (N'U'))
DROP TABLE [dbo].[Car_Image]
GO
/****** Object:  Table [dbo].[Car_Feature]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Car_Feature]') AND type in (N'U'))
DROP TABLE [dbo].[Car_Feature]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Car]') AND type in (N'U'))
DROP TABLE [dbo].[Car]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Brand]') AND type in (N'U'))
DROP TABLE [dbo].[Brand]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Booking]') AND type in (N'U'))
DROP TABLE [dbo].[Booking]
GO
/****** Object:  Table [dbo].[Black_List]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Black_List]') AND type in (N'U'))
DROP TABLE [dbo].[Black_List]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Address]') AND type in (N'U'))
DROP TABLE [dbo].[Address]
GO
/****** Object:  Table [dbo].[Accident_History]    Script Date: 11/7/2025 9:03:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Accident_History]') AND type in (N'U'))
DROP TABLE [dbo].[Accident_History]
GO
/****** Object:  Table [dbo].[Accident_History]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accident_History](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NULL,
	[date] [datetime] NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[repair_cost] [decimal](10, 2) NULL,
	[status] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[reported_by] [bigint] NULL,
	[handled_by] [bigint] NULL,
	[image_evidence] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[ward_id] [bigint] NULL,
	[address_detail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[house_number] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Black_List]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Black_List](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[reason] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[date_added] [datetime] NULL,
	[status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
	[car_id] [bigint] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
	[promotion_id] [bigint] NULL,
	[update_at] [datetime] NULL,
	[update_by] [bigint] NULL,
	[address_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [bigint] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[car_id] [bigint] IDENTITY(1,1) NOT NULL,
	[owner_id] [bigint] NULL,
	[brand_id] [bigint] NULL,
	[model] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[license_plate] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[seat] [bigint] NULL,
	[price_per_day] [decimal](10, 2) NULL,
	[created_by] [bigint] NULL,
	[status] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
	[category_id] [bigint] NULL,
	[deposit] [decimal](10, 2) NULL,
	[update_at] [datetime] NULL,
	[admin_fee_percent] [decimal](5, 2) NULL,
	[driver_license_required] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_Feature]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Feature](
	[feature_id] [bigint] IDENTITY(1,1) NOT NULL,
	[car_id] [bigint] NULL,
	[feature_def_id] [bigint] NULL,
	[feature_value] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[feature_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_Image]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Image](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[car_id] [bigint] NULL,
	[image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarCategory]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarCategory](
	[cate_id] [bigint] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deposit]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deposit](
	[deposit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[deduction_amount] [decimal](10, 2) NULL,
	[refund_amount] [decimal](10, 2) NULL,
	[customer_id] [bigint] NULL,
	[booking_id] [bigint] NULL,
	[payment_method] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[deposit_date] [datetime] NULL,
	[refund_date] [datetime] NULL,
	[amount] [decimal](10, 2) NULL,
	[staff_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[deposit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[district_id] [bigint] IDENTITY(1,1) NOT NULL,
	[province_id] [bigint] NULL,
	[district_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[district_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driving_License]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driving_License](
	[license_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[license_number] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[class] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[issue_date] [date] NULL,
	[expired_date] [date] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[license_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature_Definition]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature_Definition](
	[feature_def_id] [bigint] IDENTITY(1,1) NOT NULL,
	[feature_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[feature_def_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[rating] [decimal](2, 1) NULL,
	[comment] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
	[image] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Identity_Document]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Identity_Document](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[number] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[issue_date] [date] NULL,
	[expired_date] [date] NULL,
	[issued_by] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[image_scan] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoice_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_id] [bigint] NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[issued_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issuance]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issuance](
	[issuance_id] [bigint] IDENTITY(1,1) NOT NULL,
	[car_id] [bigint] NULL,
	[policy_number] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[coverage] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[issuance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_History]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_History](
	[history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[login_time] [datetime] NULL,
	[ip_address] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_info] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[message] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Password_Reset]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Password_Reset](
	[reset_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[token] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[expired_at] [datetime] NULL,
	[is_used] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[reset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NULL,
	[amount] [decimal](10, 2) NULL,
	[method] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[transaction_ref] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
	[type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[deposit_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[max_number] [bigint] NULL,
	[current_count] [bigint] NULL,
	[max_price] [decimal](10, 2) NULL,
	[min_price] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[promotion_type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[usage_limit_per_user] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[province_id] [bigint] IDENTITY(1,1) NOT NULL,
	[province_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[province_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refund]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refund](
	[refund_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_id] [bigint] NULL,
	[amount] [decimal](10, 2) NULL,
	[reason] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
	[refund_method] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[refund_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_Log]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[action] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[level] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[email] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[password] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[role_id] [bigint] NULL,
	[created_at] [datetime] NULL,
	[is_delete] [bit] NULL,
	[created_by] [bigint] NULL,
	[avatar] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_History]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_History](
	[history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[field_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[old_value] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[new_value] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[change_by] [bigint] NULL,
	[change_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 11/7/2025 9:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[ward_id] [bigint] IDENTITY(1,1) NOT NULL,
	[district_id] [bigint] NULL,
	[ward_name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[ward_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([address_id], [user_id], [ward_id], [address_detail], [house_number]) VALUES (1, 1, 1, N'Ngõ 123, phố Yên Phụ, Ba Đình, Hà Nội', N'123A')
INSERT [dbo].[Address] ([address_id], [user_id], [ward_id], [address_detail], [house_number]) VALUES (2, 2, 2, N'Đường Trúc Bạch, Ba Đình, Hà Nội', N'25B')
INSERT [dbo].[Address] ([address_id], [user_id], [ward_id], [address_detail], [house_number]) VALUES (3, 3, 3, N'Ngõ 50, phố Giảng Võ, Đống Đa, Hà Nội', N'50/12')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([booking_id], [customer_id], [car_id], [start_date], [end_date], [status], [created_at], [promotion_id], [update_at], [update_by], [address_id]) VALUES (8, 7, 4, CAST(N'2025-11-05T00:00:00.000' AS DateTime), CAST(N'2025-11-07T00:00:00.000' AS DateTime), N'PENDING', CAST(N'2025-11-04T13:00:52.723' AS DateTime), NULL, NULL, NULL, 12)
INSERT [dbo].[Booking] ([booking_id], [customer_id], [car_id], [start_date], [end_date], [status], [created_at], [promotion_id], [update_at], [update_by], [address_id]) VALUES (9, 7, 1, CAST(N'2025-11-05T00:00:00.000' AS DateTime), CAST(N'2025-11-07T00:00:00.000' AS DateTime), N'PENDING', CAST(N'2025-11-04T13:05:39.787' AS DateTime), NULL, NULL, NULL, 13)
INSERT [dbo].[Booking] ([booking_id], [customer_id], [car_id], [start_date], [end_date], [status], [created_at], [promotion_id], [update_at], [update_by], [address_id]) VALUES (10, 7, 5, CAST(N'2025-11-05T00:00:00.000' AS DateTime), CAST(N'2025-11-07T00:00:00.000' AS DateTime), N'PENDING', CAST(N'2025-11-04T13:10:06.107' AS DateTime), NULL, NULL, NULL, 14)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (1, N'Toyota')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (2, N'Honda')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (3, N'Hyundai')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([car_id], [owner_id], [brand_id], [model], [license_plate], [seat], [price_per_day], [created_by], [status], [created_at], [category_id], [deposit], [update_at], [admin_fee_percent], [driver_license_required]) VALUES (1, 4, 1, N'Toyota Vios 1.5E', N'30A-12345', 5, CAST(850000.00 AS Decimal(10, 2)), 1, N'ACTIVE', CAST(N'2025-10-28T19:48:37.683' AS DateTime), 1, CAST(1000000.00 AS Decimal(10, 2)), CAST(N'2025-10-28T19:48:37.683' AS DateTime), CAST(10.00 AS Decimal(5, 2)), N'B2')
INSERT [dbo].[Car] ([car_id], [owner_id], [brand_id], [model], [license_plate], [seat], [price_per_day], [created_by], [status], [created_at], [category_id], [deposit], [update_at], [admin_fee_percent], [driver_license_required]) VALUES (2, 4, 3, N'Hyundai Tucson 2.0 Diesel', N'29A-55555', 5, CAST(1250000.00 AS Decimal(10, 2)), 1, N'ACTIVE', CAST(N'2025-10-28T19:48:37.683' AS DateTime), 3, CAST(1500000.00 AS Decimal(10, 2)), CAST(N'2025-10-28T19:48:37.683' AS DateTime), CAST(10.00 AS Decimal(5, 2)), N'B2')
INSERT [dbo].[Car] ([car_id], [owner_id], [brand_id], [model], [license_plate], [seat], [price_per_day], [created_by], [status], [created_at], [category_id], [deposit], [update_at], [admin_fee_percent], [driver_license_required]) VALUES (3, 4, 2, N'Honda City 1.5RS', N'30G-67890', 5, CAST(900000.00 AS Decimal(10, 2)), 1, N'ACTIVE', CAST(N'2025-10-28T19:48:37.683' AS DateTime), 1, CAST(1200000.00 AS Decimal(10, 2)), CAST(N'2025-10-28T19:48:37.683' AS DateTime), CAST(10.00 AS Decimal(5, 2)), N'B2')
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[Car_Feature] ON 

INSERT [dbo].[Car_Feature] ([feature_id], [car_id], [feature_def_id], [feature_value]) VALUES (1, 1, 1, N'Tự động 2 vùng')
INSERT [dbo].[Car_Feature] ([feature_id], [car_id], [feature_def_id], [feature_value]) VALUES (2, 1, 2, N'Có')
INSERT [dbo].[Car_Feature] ([feature_id], [car_id], [feature_def_id], [feature_value]) VALUES (3, 1, 3, N'Không có GPS')
SET IDENTITY_INSERT [dbo].[Car_Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[Car_Image] ON 

INSERT [dbo].[Car_Image] ([image_id], [car_id], [image]) VALUES (1, 1, N'https://th.bing.com/th/id/R.80be4ce8f0630c6120a26afa0708cc4a?rik=NUGa5GFwytvO0Q&riu=http%3a%2f%2f1.bp.blogspot.com%2f-O0mF0HzHQtE%2fVX_DxvtU7DI%2fAAAAAAAAALg%2fpzO9xMmsmkc%2fs1600%2fhinh-anh-xe-dep-nhat-full-hd-5.jpg&ehk=IH6HM%2bys%2bd7JsKnEpAJrTRbX6a%2bBhZwR0QcR1BXjiv0%3d&risl=&pid=ImgRaw&r=0')
INSERT [dbo].[Car_Image] ([image_id], [car_id], [image]) VALUES (2, 1, N'https://th.bing.com/th/id/R.80be4ce8f0630c6120a26afa0708cc4a?rik=NUGa5GFwytvO0Q&riu=http%3a%2f%2f1.bp.blogspot.com%2f-O0mF0HzHQtE%2fVX_DxvtU7DI%2fAAAAAAAAALg%2fpzO9xMmsmkc%2fs1600%2fhinh-anh-xe-dep-nhat-full-hd-5.jpg&ehk=IH6HM%2bys%2bd7JsKnEpAJrTRbX6a%2bBhZwR0QcR1BXjiv0%3d&risl=&pid=ImgRaw&r=0')
INSERT [dbo].[Car_Image] ([image_id], [car_id], [image]) VALUES (3, 2, N'https://th.bing.com/th/id/R.80be4ce8f0630c6120a26afa0708cc4a?rik=NUGa5GFwytvO0Q&riu=http%3a%2f%2f1.bp.blogspot.com%2f-O0mF0HzHQtE%2fVX_DxvtU7DI%2fAAAAAAAAALg%2fpzO9xMmsmkc%2fs1600%2fhinh-anh-xe-dep-nhat-full-hd-5.jpg&ehk=IH6HM%2bys%2bd7JsKnEpAJrTRbX6a%2bBhZwR0QcR1BXjiv0%3d&risl=&pid=ImgRaw&r=0')
SET IDENTITY_INSERT [dbo].[Car_Image] OFF
GO
SET IDENTITY_INSERT [dbo].[CarCategory] ON 

INSERT [dbo].[CarCategory] ([cate_id], [cate_name]) VALUES (1, N'Sedan')
INSERT [dbo].[CarCategory] ([cate_id], [cate_name]) VALUES (2, N'Hatchback')
INSERT [dbo].[CarCategory] ([cate_id], [cate_name]) VALUES (3, N'SUV')
SET IDENTITY_INSERT [dbo].[CarCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([district_id], [province_id], [district_name]) VALUES (1, 1, N'Quận Ba Đình')
INSERT [dbo].[District] ([district_id], [province_id], [district_name]) VALUES (2, 1, N'Quận Hoàn Kiếm')
INSERT [dbo].[District] ([district_id], [province_id], [district_name]) VALUES (3, 1, N'Quận Đống Đa')
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Driving_License] ON 

INSERT [dbo].[Driving_License] ([license_id], [user_id], [license_number], [class], [issue_date], [expired_date], [updated_at]) VALUES (1, 8, N'12345678', N'B2', CAST(N'2024-08-08' AS Date), CAST(N'2034-08-08' AS Date), CAST(N'2025-08-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Driving_License] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature_Definition] ON 

INSERT [dbo].[Feature_Definition] ([feature_def_id], [feature_name], [description]) VALUES (1, N'Điều hòa tự động', N'Hệ thống điều hòa tự động giúp duy trì nhiệt độ ổn định trong xe.')
INSERT [dbo].[Feature_Definition] ([feature_def_id], [feature_name], [description]) VALUES (2, N'Camera lùi', N'Hỗ trợ người lái quan sát phía sau khi lùi xe để tránh va chạm.')
INSERT [dbo].[Feature_Definition] ([feature_def_id], [feature_name], [description]) VALUES (3, N'Hệ thống GPS', N'Hệ thống định vị và dẫn đường trên bản đồ.')
SET IDENTITY_INSERT [dbo].[Feature_Definition] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [booking_id], [amount], [method], [status], [transaction_ref], [created_at], [type], [deposit_id]) VALUES (1, 13, CAST(1800000.00 AS Decimal(10, 2)), N'VNPAY', N'FAILED', N'BOOKING13_206604', CAST(N'2025-11-04T13:32:05.790' AS DateTime), N'FULL', NULL)
INSERT [dbo].[Payment] ([payment_id], [booking_id], [amount], [method], [status], [transaction_ref], [created_at], [type], [deposit_id]) VALUES (2, 15, CAST(3750000.00 AS Decimal(10, 2)), N'VNPAY', N'FAILED', N'BOOKING15_523643', CAST(N'2025-11-04T13:35:43.247' AS DateTime), N'FULL', NULL)
INSERT [dbo].[Payment] ([payment_id], [booking_id], [amount], [method], [status], [transaction_ref], [created_at], [type], [deposit_id]) VALUES (3, 19, CAST(2700000.00 AS Decimal(10, 2)), N'VNPAY', N'FAILED', N'BOOKING19_811744', CAST(N'2025-11-06T14:01:05.033' AS DateTime), N'FULL', NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([promotion_id], [code], [discount_percent], [start_date], [end_date], [max_number], [current_count], [max_price], [min_price], [discount_amount], [promotion_type], [description], [usage_limit_per_user]) VALUES (1, N'HAPPY', CAST(30.00 AS Decimal(5, 2)), CAST(N'2025-11-05T00:00:00.000' AS DateTime), CAST(N'2026-11-05T00:00:00.000' AS DateTime), 10, 2, NULL, NULL, CAST(200000.00 AS Decimal(10, 2)), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (1, N'Thành phố Hà Nội')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (2, N'Thành phố Hồ Chí Minh')
INSERT [dbo].[Province] ([province_id], [province_name]) VALUES (3, N'Thành phố Hải Phòng')
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (1, N'Admin', N'Quản trị hệ thống: có toàn quyền quản lý người dùng, xe, hợp đồng và cấu hình.')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (2, N'Staff', N'Nhân viên vận hành: quản lý đơn thuê, bàn giao và nhận xe.')
INSERT [dbo].[Role] ([role_id], [role_name], [description]) VALUES (3, N'Customer', N'Khách hàng: có thể đăng ký tài khoản, tìm kiếm và thuê xe.')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [name], [email], [password], [phone], [role_id], [created_at], [is_delete], [created_by], [avatar], [status]) VALUES (1, N'System Admin', N'admin@rentalcar.vn', N'$2a$10$hashed_admin_password_demo', NULL, 1, CAST(N'2025-10-28T19:48:37.670' AS DateTime), 0, NULL, NULL, N'ACTIVE')
INSERT [dbo].[User] ([user_id], [name], [email], [password], [phone], [role_id], [created_at], [is_delete], [created_by], [avatar], [status]) VALUES (2, N'Trần Thu Trang', N'staff.trang@rentalcar.vn', N'$2a$10$hashed_staff_password_demo', N'0901234567', 2, CAST(N'2025-10-28T19:48:37.670' AS DateTime), 0, 1, NULL, N'ACTIVE')
INSERT [dbo].[User] ([user_id], [name], [email], [password], [phone], [role_id], [created_at], [is_delete], [created_by], [avatar], [status]) VALUES (3, N'Nguyễn Minh Khang', N'khang.customer@example.com', N'$2a$10$hashed_customer_password_demo', N'0988111222', 3, CAST(N'2025-10-28T19:48:37.670' AS DateTime), 0, NULL, NULL, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Ward] ON 

INSERT [dbo].[Ward] ([ward_id], [district_id], [ward_name]) VALUES (1, 1, N'Phường Phúc Xá')
INSERT [dbo].[Ward] ([ward_id], [district_id], [ward_name]) VALUES (2, 1, N'Phường Trúc Bạch')
INSERT [dbo].[Ward] ([ward_id], [district_id], [ward_name]) VALUES (3, 1, N'Phường Vĩnh Phúc')
SET IDENTITY_INSERT [dbo].[Ward] OFF
GO
ALTER TABLE [dbo].[Accident_History]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Accident_History]  WITH CHECK ADD FOREIGN KEY([handled_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Accident_History]  WITH CHECK ADD FOREIGN KEY([reported_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD FOREIGN KEY([ward_id])
REFERENCES [dbo].[Ward] ([ward_id])
GO
ALTER TABLE [dbo].[Black_List]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[Address] ([address_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([update_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[CarCategory] ([cate_id])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([owner_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Car_Feature]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Car_Feature]  WITH CHECK ADD FOREIGN KEY([feature_def_id])
REFERENCES [dbo].[Feature_Definition] ([feature_def_id])
GO
ALTER TABLE [dbo].[Car_Image]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Deposit]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Deposit]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Deposit]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD FOREIGN KEY([province_id])
REFERENCES [dbo].[Province] ([province_id])
GO
ALTER TABLE [dbo].[Driving_License]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Identity_Document]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[Issuance]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Login_History]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Password_Reset]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([deposit_id])
REFERENCES [dbo].[Deposit] ([deposit_id])
GO
ALTER TABLE [dbo].[Refund]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[System_Log]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[User_History]  WITH CHECK ADD FOREIGN KEY([change_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[User_History]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD FOREIGN KEY([district_id])
REFERENCES [dbo].[District] ([district_id])
GO
